/* 
 * This file is required for the demos to run.
 * Your project will need these plugins too.
 */
{
  "plugins": [
    ["babel-plugin-redrunner"],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
