body {
  /*background: #FFEB3B;*/
  margin: 0;
}

.content {
  margin: 30px;
  max-width: 400px;
}

nav {
  height: 40px;
  color: white;
  background: #2f2f2f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav h3 {
  margin: 0;
  padding: 10px;
  font-size: large;
}
nav a {
  color: white;
}

.menu {
  position: absolute;
  right: 10px;
  top: 18px;
  vertical-align: text-bottom;
  display: inline-block;
  padding-left: 8px;
}

.menu-entry {
  display: inline-block;
  padding-left: 8px;
}

.menu-entry a {
  text-decoration: none;
}
